.navbar img {
    max-height: 90px;
    width: 100%;
}

.navlink {
    color: #f0f0f0;
    text-decoration: none;
    font-weight: 500;
    font-size: larger;
    font-family: 'font3';
}

.navlink:hover{
  color: rgb(228, 228, 123);
}

.navbar-nav {
    gap: 40px;
    align-items: center;
}

.navlink button {
    padding: 8px 24px;
    border-radius: 50px;
    border: 2px solid white;
    background-color: black;
    color: white;
    font-weight: 500;
}

.navlink button:hover,
.navlink button:focus {
    background-color: gray;  
}

.navbar {
    padding-top: 25px;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

/* Toggle button white */
.navbar-toggler {
    border: none; /* remove border */
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    width: 2rem;
    height: 2rem;
}

@media (max-width: 992px) {
   .navbar {
       background-color: rgb(0, 0, 0);
       position: fixed;
   }

   .navbar img {
       max-height: 50px;
       width: 100%;
       padding-left: 10px;
   }
}
